### Windows notebook
-This is my Windows notebook where I am running the code to fetch the data.

-The following code reads in and stores the data as a pandas df and uploads it to the repo for pyspark analysis

-The data is then visualized using matplotlib, and the resulting DataFrame is saved as a CSV file in the current directory.

In [20]:
import requests

headers = {
        'Content-Type': 'application/json'
        }
requestResponse = requests.get("https://api.tiingo.com/api/test?token=aa836157ea2914f39c5542cd351d37f042feef73",
                                    headers=headers)
print(requestResponse.json())

{'message': 'You successfully sent a request'}

In [21]:
import pandas as pd
from tiingo import TiingoClient

# Set up the Tiingo configuration
config = {
    'api_key': 'aa836157ea2914f39c5542cd351d37f042feef73'
}

# Create a Tiingo client
client = TiingoClient(config)

# Fetch data for 'AAPL' stock
df = client.get_dataframe('AAPL', startDate='2015-05-27', endDate='2025-03-01')

# Display the fetched data
print(df.head())

                             close     high     low    open    volume  \
date
2015-05-27 00:00:00+00:00  132.045  132.260  130.05  130.34  45833246
2015-05-28 00:00:00+00:00  131.780  131.950  131.10  131.86  30733309
2015-05-29 00:00:00+00:00  130.280  131.450  129.90  131.23  50884452
2015-06-01 00:00:00+00:00  130.535  131.390  130.05  131.20  32112797
2015-06-02 00:00:00+00:00  129.960  130.655  129.32  129.86  33667627

                            adjClose    adjHigh     adjLow    adjOpen  \
date
2015-05-27 00:00:00+00:00  29.609406  29.657617  29.162053  29.227082
2015-05-28 00:00:00+00:00  29.549984  29.588104  29.397502  29.567923
2015-05-29 00:00:00+00:00  29.213628  29.475985  29.128418  29.426653
2015-06-01 00:00:00+00:00  29.270808  29.462531  29.162053  29.419926
2015-06-02 00:00:00+00:00  29.141872  29.297717  28.998360  29.119448

                           adjVolume  divCash  splitFactor
date
2015-05-27 00:00:00+00:00  183332984      0.0          1.0
2015-05-28 00:00:00+00:00  122933236      0.0          1.0
2015-05-29 00:00:00+00:00  203537808      0.0          1.0
2015-06-01 00:00:00+00:00  128451188      0.0          1.0
2015-06-02 00:00:00+00:00  134670508      0.0          1.0

In [22]:
df = df.reset_index()
df.head()

,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,2015-05-27 00:00:00+00:00,132.045,132.260,130.05,130.34,45833246,29.609406,29.657617,29.162053,29.227082,183332984,0.0,1.0
1,2015-05-28 00:00:00+00:00,131.780,131.950,131.10,131.86,30733309,29.549984,29.588104,29.397502,29.567923,122933236,0.0,1.0
2,2015-05-29 00:00:00+00:00,130.280,131.450,129.90,131.23,50884452,29.213628,29.475985,29.128418,29.426653,203537808,0.0,1.0
3,2015-06-01 00:00:00+00:00,130.535,131.390,130.05,131.20,32112797,29.270808,29.462531,29.162053,29.419926,128451188,0.0,1.0
4,2015-06-02 00:00:00+00:00,129.960,130.655,129.32,129.86,33667627,29.141872,29.297717,28.998360,29.119448,134670508,0.0,1.0

In [23]:
df.to_csv('stock_data.csv')